article[data-tcne-contains-cn="true"] div[lang] {
    filter: blur(5px);
}

article[data-tcne-contains-cn="true"]:hover div[lang] {
    filter: initial;
}

article[data-tcne-contains-cn="true"]:hover .tcne-overlay {
    display: none;
}

.tcne-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    z-index: 2;
}
