:root {
    --tce-font-family: inherit;
    --tce-font-size: inherit;
    --tce-font-weight: inherit;
}

article[data-tcne-contains-cn="true"] div[lang] {
    filter: blur(5px);
    transition: 0.125s filter linear;
}

article[data-tcne-contains-cn="true"]:hover div[lang] {
    filter: blur(0px);
}

article[data-tcne-contains-cn="true"]:hover .tcne-overlay {
    display: none;
}

.tcne-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--tce-font-family);
    font-size: var(--tce-font-size);
    font-weight: var(--tce-font-weight);
    z-index: 2;
}
